@charset "UTF-8";
/* CSS Document */



body {  font-family: 'Josefin Slab', serif;; font-weight: normal; color:#CCC; background-color: #2e2e2e}


h1 {	color:#CCC;
}

a:link {text-decoration:none;}

a.maze{
  		color:#fff; border:solid; border-color:#000;
		padding-bottom:280px; padding-top:2px; padding-left:6px; padding-right:4px;
		line-height:30px; font-weight:bold; top:0px; margin-right:13px; float:left; alignment-adjust:central; text-align:center;
		cursor:pointer; display:block; width:190px; hight:180px;
        background:url(Images/door1.png) no-repeat scroll 0 40px transparent;


}


a.maze1door{
  		color:#fff; border:solid; border-color:#000;
		padding-bottom:280px; padding-top:2px; padding-left:6px; padding-right:4px;
		line-height:30px; font-weight:bold; top:0px; margin-right:13px; float:left; alignment-adjust:central; text-align:center;
		cursor:pointer; display:block; width:190px; hight:180px;
        background:url(/images//door1.png) no-repeat scroll 0 40px transparent;
}

a.maze2door{
  		color:#fff; border:solid; border-color:#000;
		padding-bottom:280px; padding-top:2px; padding-left:6px; padding-right:4px;
		line-height:30px; font-weight:bold; top:0px; margin-right:13px; float:left; alignment-adjust:central; text-align:center;
		cursor:pointer; display:block; width:190px; hight:180px;
        background:url(/images/door2.png) no-repeat scroll 0 40px transparent;
}

a.maze3door{
  		color:#fff; border:solid; border-color:#000;
		padding-bottom:280px; padding-top:2px; padding-left:6px; padding-right:4px;
		line-height:30px; font-weight:bold; top:0px; margin-right:13px; float:left; alignment-adjust:central; text-align:center;
		cursor:pointer; display:block; width:190px; hight:180px;
        background:url(/images/door3.png) no-repeat scroll 0 40px transparent;
}

a.maze4door{
  		color:#fff; border:solid; border-color:#000;
		padding-bottom:280px; padding-top:2px; padding-left:6px; padding-right:4px;
		line-height:30px; font-weight:bold; top:0px; margin-right:13px; float:left; alignment-adjust:central; text-align:center;
		cursor:pointer; display:block; width:190px; hight:180px;
        background:url(/images/door4.png) no-repeat scroll 0 40px transparent;
}

a.maze5door{
  		color:#fff; border:solid; border-color:#000;
		padding-bottom:280px; padding-top:2px; padding-left:6px; padding-right:4px;
		line-height:30px; font-weight:bold; top:0px; margin-right:13px; float:left; alignment-adjust:central; text-align:center;
		cursor:pointer; display:block; width:190px; hight:180px;
        background:url(/images/door5.png) no-repeat scroll 0 40px transparent;
}

a.maze6door{
  		color:#fff; border:solid; border-color:#000;
		padding-bottom:280px; padding-top:2px; padding-left:6px; padding-right:4px;
		line-height:30px; font-weight:bold; top:0px; margin-right:13px; float:left; alignment-adjust:central; text-align:center;
		cursor:pointer; display:block; width:190px; hight:180px;
        background:url(/images/door6.png) no-repeat scroll 0 40px transparent;
}

a.maze7door{
  		color:#fff; border:solid; border-color:#000;
		padding-bottom:280px; padding-top:2px; padding-left:6px; padding-right:4px;
		line-height:30px; font-weight:bold; top:0px; margin-right:13px; float:left; alignment-adjust:central; text-align:center;
		cursor:pointer; display:block; width:190px; hight:180px;
        background:url(/images/door7.png) no-repeat scroll 0 40px transparent;
}

a.maze8door{
  		color:#fff; border:solid; border-color:#000;
		padding-bottom:280px; padding-top:2px; padding-left:6px; padding-right:4px;
		line-height:30px; font-weight:bold; top:0px; margin-right:13px; float:left; alignment-adjust:central; text-align:center;
		cursor:pointer; display:block; width:190px; hight:180px;
        background:url(/images/door8.png) no-repeat scroll 0 40px transparent;
}

a.maze9door{
  		color:#fff; border:solid; border-color:#000;
		padding-bottom:280px; padding-top:2px; padding-left:6px; padding-right:4px;
		line-height:30px; font-weight:bold; top:0px; margin-right:13px; float:left; alignment-adjust:central; text-align:center;
		cursor:pointer; display:block; width:190px; hight:180px;
        background:url(/images/door9.png) no-repeat scroll 0 40px transparent;
}

a.maze10door{
  		color:#fff; border:solid; border-color:#000;
		padding-bottom:280px; padding-top:2px; padding-left:6px; padding-right:4px;
		line-height:30px; font-weight:bold; top:0px; margin-right:13px; float:left; alignment-adjust:central; text-align:center;
		cursor:pointer; display:block; width:190px; hight:180px;
        background:url(/images/door10.png) no-repeat scroll 0 40px transparent;
}
